@page "/"
@inject CurrentCost.Pages.IndexViewModel vm

<Row>
    <Column ColumnSize="ColumnSize.Is12">
        <h1><span><i class="fas fa-bolt"></i></span> Hello, world!</h1>
    </Column>
</Row>
<Row>
    <Column ColumnSize="ColumnSize.Is4">
        <Alert Color="Color.Primary" Visible>
            Is8
        </Alert>
    </Column>
    <Column ColumnSize="ColumnSize.Is8">
        <Alert Color="Color.Secondary" Visible>
            <LineChart @ref="vm.LineChart" TItem="double" />
        </Alert>
    </Column>
</Row>
<Row>
    <Column ColumnSize="ColumnSize.Is12">
        <Button Color="Color.Primary" Clicked="@(async () => await vm.HandleRedraw())"><i class="fas fa-recycle"></i> Redraw</Button>
    </Column>
</Row>

@code 
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await vm.HandleRedraw();
        }
    }
}